@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $bg-color;
  color: $text-main;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

input, select, button {
  font-family: inherit;
}

#root {
  min-height: 100vh;
}


