@use '../../styles/variables' as *;

.countries-card {
  @include card-base;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: default;
  height: 100%;
  animation: fadeIn 0.5s ease-out forwards;
  animation-delay: var(--animation-delay);
  opacity: 0;
  will-change: opacity, transform;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card-image-wrapper {
    height: 120px;
    width: 100%;
    overflow: hidden;
    background-color: $border-color;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h3 {
      font-size: 1.1rem;
      color: $text-main;
      margin-bottom: 0.25rem;
      font-weight: 800;
    }

    p {
      font-size: 0.85rem;
      color: $text-secondary;
      margin: 0;

      strong {
        color: $text-main;
        font-weight: 600;
      }
    }
  }
}
